@font-face {
    font-family: 'Inter Variable';
    src: url('/wg-easy/assets/fonts/InterVariable.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url('/wg-easy/assets/fonts/JetBrainsMonoVariable.woff2')
        format('woff2');
    font-weight: 100 900;
    font-display: swap;
}

:root {
    --md-text-font: 'Inter Variable';
    --md-code-font: 'JetBrains Mono';
}
